name: ci
on:
  - push

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: norio-nomura/action-swiftlint@3.2.1
  macOS-test:
    strategy:
      matrix:
        swift-version:
          - "5.7"
          - "5.8"
          - "5.9"
          - "5.10"
          - "6.0"
          - "6.1"
          - "6.2"
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v3
      - uses: swift-actions/setup-swift@v1
        with:
          swift-version: ${{ matrix.swift-version }}
      - run: swift test
  linux-test:
    strategy:
      matrix:
        swift-version:
          - "5.7"
          - "5.8"
          - "5.9"
          - "5.10"
          - "6.0"
          - "6.1"
          - "6.2"
    runs-on: ubuntu-latest
    container: swift:${{ matrix.swift-version }}
    steps:
      - uses: actions/checkout@v3
      - run: swift test
  iOS-build:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v3
      - run: xcodebuild -scheme argtree -destination 'platform=iOS Simulator,name=iPhone 17'
